<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:networkSecurityConfig="@xml/network_security_config"
        android:icon="@drawable/logo_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.DAS_PrimeraEvaluacion"
        >

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB5stU55D-uURaf8clUzE5SzY6ZaFstFKU"/>

        <activity
            android:name=".perfil.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".perfil.RegistroActivity"
            android:exported="true"/>
        <activity android:name=".avion.DetallesAvionActivity"
            android:exported="true" />
        <activity android:name=".reserva.ReservaMapaActivity"
            android:exported="true" />
        <activity android:name=".MainActivity"
            android:exported="true"/>
        <meta-data android:name="android.graphics.use_vulkan"
            android:value="false"/>
        <receiver android:name=".reserva.ReservaWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/reserva_widget_info"/>
        </receiver>
    </application>



</manifest>
